<p id="notice"><%= notice %></p>

<h3>用户列表</h3>
<br/>
<div class="row">
  <div class="col-md-10">
    <table class="table table-hover">
      <thead>
      <tr>
        <th class="col-md-2">用户名</th>
        <th class="col-md-1">登录名</th>
        <th class="col-md-2">Email</th>
        <th class="col-md-1">状态</th>
        <th class="col-md-2">入职时间</th>
        <th class="col-md-1">管理员?</th>
        <th class="col-md-1">操作</th>
      </tr>
      </thead>

      <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td><%= user.login_name %></td>
            <td><%= user.email %></td>
            <td><%= get_status_name(user.status) %></td>
            <td><%= user.joined_date %></td>
            <td><%= user.is_admin %></td>
            <td>
              <%= link_to '编辑', edit_user_path(user) %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
  </div>
  <div class="col-md-4"></div>
</div>
<%= link_to '新建用户', new_user_path, :class => "btn btn-primary" %>
