<%= form_for @detail do |f| %>
  <% if @detail.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@detail.errors.count, "error") %> prohibited
      this detail from being saved:</h2>
    <ul>
    <% @detail.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>
  <div class="form-group">
    <%= f.label :user_id %><br>
    <%= f.select :user_id, options_from_collection_for_select(@users, :id, :name), {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :hours %><br>
    <%= f.number_field :hours, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :type %><br>
    <%= f.select :type, options_for_select(["medical", "annual"]), {}, {class: "form-control"} %>
  </div>

  <div class="form-group">
    <%= f.label :start_date %><br>
    <%= f.text_field :start_date, id: 'start_date', class: "form-control" %>
  </div>

  <%= f.submit "Submit", class: "btn btn-primary" %>
  <%= link_to 'Cancel', root_path, class: "btn btn-default", type: "button" %>
<% end %>
